<h2>Edit <%= resource_name.to_s.humanize %></h2>

<div class="user-edit-form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="password-fields">
      <div class="field">
        <label for="user_password">New Password</label><i> (optional)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

     <%= f.label :current_password %> <br />
    <div class="edit-form-submit-section">
      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
      
    </div>
    <i>(enter current password to confirm changes)</i>
  <% end %>
  <hr/>

  <div class="user-delete-button">Delete account:<%= button_to "Delete", registration_path(resource_name), method: :delete %></div>
</div>