<table class= "table">
  <thead>
    <tr>
      <th>Macros</th>
      <th>Cals</th>
      <th>Protein</th>
      <th>Fats</th>
      <th>Carbs</th>
    </tr>
  </thead>
  <tr>
    <th>Target</th>
    <td> <%=current_user.cals_budget%>cal </td>
    <td> <%=current_user.protein_budget%>g </td>
    <td> <%=current_user.fats_budget%>g </td>
    <td> <%=current_user.carbs_budget%>g </td>
  </tr>
  <tr>
    <th>Food</th>
    <%if @cals_eaten%>
      <td>-<%=@cals_eaten%>cal</td>
    <%else%>
      <td>0</td>
    <%end%>
    <%if @protein_eaten%>
      <td>-<%=@protein_eaten%>g</td>
    <%else%>
      <td>0</td>
    <%end%>
    <%if @fats_eaten%>
      <td>-<%=@fats_eaten%>g</td>
    <%else%>
      <td>0</td>
    <%end%>
    <%if @carbs_eaten%>
      <td>-<%=@carbs_eaten%>g</td>
    <%else%>
      <td>0</td>
    <%end%>
  </tr>
  <tr>
    <th>Remaining</th>
    <% if @cals_left <= 0 %>
      <td class="neg-macro"> <%=@cals_left%>cal </td>
    <%else%>
      <td class="pos-macro"> <%=@cals_left%>cal </td>
    <%end%>
    <% if @protein_left <= 0%>
      <td class="neg-macro"><%=@protein_left%>g </td>
    <%else%>
      <td class="pos-macro"> <%=@protein_left%>g </td>
    <%end%>
    <% if @fats_left <= 0%>
      <td class="neg-macro"><%=@fats_left%>g </td>
    <%else%>
      <td class="pos-macro"> <%=@fats_left%>g </td>
    <%end%>
    <% if @carbs_left <= 0%>
      <td class="neg-macro"><%=@carbs_left%>g </td>
    <%else%>
      <td class="pos-macro"> <%=@carbs_left%>g </td>
    <%end%>
  </tr>
</table>
<%= pie_chart [
  ["Carbs", @carbs_eaten],
  ["Protein" , @protein_eaten],
  ["Fats", @fats_eaten]
  ]%>
