<table>
  <tr>
    <th>Cals</th>
    <th>Protein</th>
    <th>Fats</th>
    <th>Carbs</th>
  </tr>
  <tr>
    <th> <%=@diary.calories_budget%>cals </th>
    <th> <%=@diary.protein_budget%>gs </th>
    <th> <%=@diary.fats_budget%>gs </th>
    <th> <%=@diary.carbs_budget%>gs </th>
  </tr>
  <tr>
    <td> <%=@diary.calories_eaten%>cals </td>
    <td> <%=@diary.protein_eaten%>gs </td>
    <td> <%=@diary.fats_eaten%>gs </td>
    <td> <%=@diary.carbs_eaten%>gs </td>
  </tr>
</table>