<% if @diary %>
  

<table>
  <tr>
    <th></th>
    <th>Cals</th>
    <th>Protein</th>
    <th>Fats</th>
    <th>Carbs</th>
  </tr>
  <tr>
    <td>Total</td>
    <td> <%=current_user.cals_budget%>cals </td>
    <td> <%=current_user.protein_budget%>gs </td>
    <td> <%=current_user.fats_budget%>gs </td>
    <td> <%=current_user.carbs_budget%>gs </td>
  </tr>
  <tr>
    <td>Used</td>
    <td> <%=@calsEaten%>cals </td>
    <td> <%=@proteinEaten%>gs </td>
    <td> <%=@fatsEaten%>gs </td>
    <td> <%=@carbsEaten%>gs </td>
  </tr>
  <tr>
    <td>left</td>
    <td> <%=@calsLeft%>cals </td>
    <td> <%=@proteinLeft%>gs </td>
    <td> <%=@fatsLeft%>gs </td>
    <td> <%=@carbsLeft%>gs </td>
  </tr>
</table>
<% end %>