<template id=<%= id %>>
  
  <div class="diary-form-modal" id="diary-form-modal">
    <div id="diary-form">
      <%= form_with model: @diary, class: 'diary-form' do |f| %>
        <div class="custom-diary-card">
          <h1>Quick Add</h1>
          <div class="">
            <%= f.label :calories %>
            <%= f.text_field :calories%>
          </div>
          <div class="">
            <%= f.label :protein %>
          <%= f.text_field :protein%>
          </div>
          <div class="">
            <%= f.label :fats %>
          <%= f.text_field :fats%>
          </div>
          <div class="">
            <%= f.label :carbs %>
          <%= f.text_field :carbs%>
          </div>
          <%= f.hidden_field :time_of_day, value: time_of_day %>
          <%= f.submit "Save Diary"%>
        </div>
      <%end%>
    </div>
</div>
</template>
