<table class="sub-diary">
  <thead>
    <tr>
      <th><%= time_of_day%></th>
      <th colspan="5"><%="Total cals:" if sum > 0 %> <%=sum%></th>
    </tr>
  </thead>
  <tbody>
    <%if sum > 0%>
      <% diaries.each do |diary| %>
        <%if diary.calories_eaten > 0%>
          <tr>
            <td class="diary-item"><%=diary.item_name%></td>
            <td class="macros"><%="protein. #{diary.protein_eaten}gs"%></td>
            <td class="macros"><%="fats. #{diary.fats_eaten}gs"%></td>
            <td class="macros"><%="carbs. #{diary.carbs_eaten}gs" %></td>
            <td class="macros"><%= diary.calories_eaten %> Cals</td>
          </tr>
        <%end%>
      <%end%>
    <%else%>  
      <td colspan="5" class="diary-empty"><%="No #{time_of_day} logged"%></td>        
    <%end%>
    <tr  class="last-row">
      <td colspan="5"><%= link_to "+Log #{time_of_day}", new_diary_path(time_of_day: time_of_day ), class: "link"%></td>
    </tr>
  </tbody>
</table>