<table class= summary-table id="time-of-day" data-tod=<%= diaries.last.time_of_day %>>
  <thead>
    <tr>
      <th class="summary-header-title"><%= diaries.last.time_of_day %></th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Fats</th>
      <th>Carbs</th>
    </tr>
  </thead>
  <tbody>
    <% diaries.each do |diary| %>
      <% if diary.calories > 0%>
        <tr class="diary-item">
          <td >
            <div class="summary-header-group">
              <%= button_to "X", diary_path(diary), method: :delete , class:'hidden', id:'delete-diary-button'%>
              <div class="summary-body-title">
                <%= diary.food ? diary.food.food_name : diary.meal ? diary.meal.meal_name : !diary.food_name.nil? ? diary.food_name : "Custom Food" %>
              </div>
            </div>
          </td>

          <td><%= diary.calories %></td>
          <td><%= diary.protein %></td>
          <td><%= diary.fats %></td>
          <td><%= diary.carbs %></td>
        </tr>
      <%end%>
    <% end %>
    <tr class="totals-row">
      <td>
        <%if @todays_date == @date %>
        <button id="form-modal-toggle">Add food/meal</button>
        <button id="diary-form-toggle">Quick Add</button>
        <%end%>
      </td>
      <td><%= diaries.sum(&:calories) %></td>
      <td><%= diaries.sum(&:protein) %></td>
      <td><%= diaries.sum(&:fats) %></td>
      <td><%= diaries.sum(&:carbs) %></td>
    </tr>
  </tbody>
</table>
