<div id="diaries-index">
  <%= render 'date_navbar' %>
  <main class="container">
    <div class="card">
      <%= render "summary", diaries: @breakfast_diaries%>
    </div>
    <div class="card">
      <%= render "summary", diaries: @lunch_diaries%>
    </div>
    <div class="card">
      <%= render "summary", diaries: @dinner_diaries%>
    </div>
    
    <% if should_display_piechart(@piechart_macros)%>
      <div class="summary-total-card">
        <%= render 'summary_total'%>
      </div>
    <%end%>
  </main>

  <%= render "form", time_of_day: "Breakfast", id: "breakfast-diary-form-template" %>
  <%= render "form_modal", time_of_day: "Breakfast" %>

  <%= render "form", time_of_day: "Lunch", id: "lunch-diary-form-template" %>
  <%= render "form_modal", time_of_day: "Lunch" %>

  <%= render "form", time_of_day: "Dinner", id: "dinner-diary-form-template" %>
  <%= render "form_modal", time_of_day: "Dinner" %>
</div>