<header>
  <%= link_to "Create new Food", new_food_path %>
  <%= link_to "Create new Meal", new_meal_path %>
  <%= render "meals/form_list" %>
  <hr/>
</header>
<main class="container">
  <div class="card">
    <%= render "summary", diaries: @breakfast_diaries%>
  </div>
  <div class="card">
    <%= render "summary", diaries: @lunch_diaries%>
  </div>
  <div class="card">
    <%= render "summary", diaries: @dinner_diaries%>
  </div>
  <hr/>
</main>
<%= render "foods/form_list" %>
<%= render "form" %>
