<h1 class="title">Home</h1>
<div class="grid">
  <div class="summary-card">
    <%= render "diet_summary" %>
  </div>

  <div class="sub-list">
    <% breakfastDiaries = @diaries.select {|diary| diary.time_of_day == "breakfast"} %>
    <% lunchDiaries = @diaries.select {|diary| diary.time_of_day == "lunch"} %>
    <% dinnerDiaries = @diaries.select {|diary| diary.time_of_day == "dinner"} %>
    <%if breakfastDiaries%>
      <%= render partial: "sub_diary", locals: {diaries: breakfastDiaries } %>
    <%end%>
    <%if lunchDiaries%>
      <%= render partial: "sub_diary", locals: {diaries: lunchDiaries } %>
    <%end%>
    <%if dinnerDiaries%>
      <%= render partial: "sub_diary", locals: {diaries: dinnerDiaries } %>
    <%end%>
  </div>
</div>

<%= link_to "add new food", new_food_path %>