<div class="flex-container">
  <%= link_to "Cancel", diaries_path, class: "button-link"%><br/>
  <%= link_to "add new food", new_food_path , class: "button-link"%>
</div>
<div class= flex-container>
  <div class="form-group-1">
    <%= render "form" %><br/>
    <p>- or -</p><br/>
    <%= render "meals/form" %>
  </div>
  <div class="form-group-2">
    
    <%if @foods_meals && !@foods_meals.empty?%>
      <%= render "foods_meals/index_form"%>
    <%end%>
    <%= render "foods/food_list_form" %>
  </div>
</div>


