
<div class="user-profile">
<div class="profile-control-panel">
  <header>
    <%= image_tag "default-profile-picture1.jpg", alt: "Default profile picture", class:"user-profile-img" %>
    <div>
      <div class="user-profile-username">
        <%= @user.email%>
      </div>
    </div>
  </header>
  <ul class="profile-control-panel-tabs" role="list">
    <li class=<%= "panel-tabs-active" if tab == 'Progress'%>><a href="#" class="tab-link">Progress</a></li> 
    <li class=<%= "panel-tabs-active" if tab == 'Feed'%>><a href="#" class="tab-link">Feed</a></li>
    <li class=<%= "panel-tabs-active" if tab == 'Settings'%>><a href="edit" class="tab-link" >Settings</a></li>
  </ul>
</div>


<div class="user-show-page-content">
  <% if partial_variable != '' %>
    <%= render "#{partial_variable}" %>
  <%end%>
</div>

</div>