<div class="food-list hidden">
  <div class="meal-food-form-header">
    <h2 ></h2>
    <h4>Choose Meal</h4>
    <%= link_to "Make Custom Meal", new_foods_meal_path %>
  </div>
  <% @meals.each do |meal| %>
    <%= form_with model: @diary do |f| %>
      <div class="meal-item">
        <div class="meal-item-name">
          <%= meal.meal_name%>
        </div>
        <div class="meal-item-macros">
          <%= meal.foods.sum(:calories) %>
          <%= meal.foods.sum(:protein) %>
          <%= meal.foods.sum(:fats) %>
          <%= meal.foods.sum(:carbs) %>
          <%= f.submit "Add", class:"meal-item-btn"%>
          <button><%= link_to "Edit", edit_foods_meal_path(id: meal.id) %></button>
        </div>
      </div>
      <%= f.hidden_field :calories, value: meal.foods.sum(:calories) %>
      <%= f.hidden_field :protein, value: meal.foods.sum(:protein)%>
      <%= f.hidden_field :fats, value: meal.foods.sum(:fats)%>
      <%= f.hidden_field :carbs, value: meal.foods.sum(:carbs)%>
      <%= f.hidden_field :time_of_day, value: "Breakfast" %>
      <%= f.hidden_field :food_id, value: meal.id %>
    <%end%>
  <%end%>
</div>




