<template id=<%="#{id}"%>>
  <div class="diary-form-modal" id="food-list-form-modal">
    <div id="food-list-form">
      <% @foods.each do |food| %>
        <%= form_with model: @diary do |f| %>
          <%= food.calories %>
          <%= f.hidden_field :calories, value: food.calories %>
          <%= food.protein %>
          <%= f.hidden_field :protein, value: food.protein%>
          <%= food.fats %>
          <%= f.hidden_field :fats, value: food.fats%>
          <%= food.carbs %>
          <%= f.hidden_field :carbs, value: food.carbs%>
          <%= f.hidden_field :time_of_day, value: time_of_day %>
          <%= f.hidden_field :food_id, value: food.id %>
          <%= food.food_name %>
          <%= f.submit "Add item"%>
        <%end%>
      <%end%>
    </div>
</template>
