<div class="food-list" id="foods-form">
  <header class="food-header">
    <h3>Add food to diary</h3>
  </header>
  <div class="food-body">
    <% @foods.each do |food| %>
        <%= form_with model: @diary do |f| %>
          <div class="food-item" data-id=<%= food.id %>>
            <div class="food-item-content">

              <div class="food-name">
                <%= button_to "X", food_path(food), method: :delete, id: "delete-food-button", class:'hidden' %>
                <p><%= food.food_name%></p>
              </div>

              <div class="food-item-actions">
                <%= f.number_field :servings, value: 1, class: "servings-selector"%>
                <%= f.submit "Add item", class:"food-item-btn"%>
              </div>

            </div>

            <div class="food-item-macros">
              <p class="food-calories">Cals.<%= food.calories %>/</p>
              <p class="food-protein">Prot.<%= food.protein %>/</p>
              <p class="food-fats">Fats.<%= food.fats %>/</p>
              <p class="food-carbs">Carbs.<%= food.carbs %></p>
            </div>
          </div>
          <%= f.hidden_field :calories, value: food.calories %>
          <%= f.hidden_field :protein, value: food.protein%>
          <%= f.hidden_field :fats, value: food.fats%>
          <%= f.hidden_field :carbs, value: food.carbs%>
          <%= f.hidden_field :time_of_day, value: time_of_day %>
          <%= f.hidden_field :food_id, value: food.id %>
        <%end%>
    <%end%>
  </div>
</div>

<template id='new-food-template'>
  <%= form_with model: @diary do |f| %>
    <div class="food-item">
      <div class="food-item-content">
      
        <div class="food-name">
          <p></p>
        </div>

        <div class="food-item-actions">
          <%= f.number_field :servings, value: 1, class: "servings-selector"%>
          <%= f.submit "Add item", class:"food-item-btn"%>
        </div>
      </div>
      <div class="food-item-macros">

        <p class="food-calories"></p>
        <p class="food-protein"></p>
        <p class="food-fats"></p>
        <p class="food-carbs"></p>

      </div>
    </div>
    <%= f.hidden_field :calories, value: 0 %>
    <%= f.hidden_field :protein, value: 0%>
    <%= f.hidden_field :fats, value: 0%>
    <%= f.hidden_field :carbs, value: 0%>
    <%= f.hidden_field :time_of_day, value: time_of_day %>
    <%= f.hidden_field :food_id, value: 0 %>
  <%end%>
</template>


