<h1>Show Food</h1>
<%= link_to "edit", edit_food_path %>
<%= @food.food_name %>
<%= @food.calories %>
<%= @food.protein %>
<%= @food.fats %>
<%= @food.carbs %>
<%= @food.servings %>
<%= link_to "go back", foods_path %>
