<div class="food-list hidden" id="foods-meal-form"  data-form-type="edit" >
  <% if @meal.id %>
    <div class="meal-header">
      <h2><%= @meal.meal_name %></h2>
      <p> Remove items</p>
      <p id="sum-of-calories">Total Cals:<%= @meal.foods.sum(:calories) %><p>
    </div>
    <div class="meal-body">
      
        <template id="meal-item-template">
          <div class="meal-item">
            <div class="meal-item-name">
            </div>
            <button type="submit" id="remove-food-button">Remove food</button>
          </div>
        </template>
    </div>
  <%else%>
    <h1>Create new meal</h1>
    <%= render 'meals/form' %>
    <%= link_to "go back" %>
  <%end%>
  <div class="meal-btns">
    <%= link_to "go back", meals_path %>
    <% if @meal.id %>
      <button id="foods-meal-form-toggle"><%= link_to "Add foods" %></button>
    <%end%>
  </div>
</div>