<div class="food-list hidden" id="foods-meal-form">
    <div class="meal-header">
      <h2 id="meal-name"><%= @meal.meal_name %></h2>
      <h4>add items</h4>
      <p id="sum-of-calories">Total Cals:<%= @meal.foods.sum(:calories) %></p>
    </div>
    <div class="meal-body">
        <template id="new-foods-meal-template">
          <%= form_with model: @foods_meal, id: "new-foods-meal-form", class: "meal-item meal-item-name" do |f| %>
            <div class="food-name">
              ERROR
            </div>
            <%=f.hidden_field :meal_id, value: @meal.id%>
            <%=f.hidden_field :food_id, value: Food.first%>
            <%=f.submit "Add food", id: "submit-button"%>
          <% end %>
        </template>
    </div>
  <div class="meal-btns">
    <a class="cancel-button" href="#">Go back to meal list</a>
    <button id="foods-meal-form-toggle"><%= link_to "Remove foods" %></button>
  </div>
</div>

