<div class="food-list hidden" id="foods-meal-form">
    <div class="meal-header">
      <h2 id="meal-name"><%= @meal.meal_name %></h2>
      <h4>add items</h4>
      <p id="sum-of-calories">Total Cals:<%= @meal.foods.sum(:calories) %></p>
    </div>
    <div class="meal-body">
      <% @foods.each do |food|%>
        <div class="meal-item">
          <div class="meal-item-name">
            <%= form_with model: @foods_meal, id: "new-foods-meal-form" do |f| %>
              <%=food.food_name%>
              <%=f.hidden_field :meal_id, value: @meal.id%>
              <%=f.hidden_field :food_id, value: food.id%>

              <% if @meal.foods.include?(food) %>
                <%=f.submit "Add food", id: "submit-button", class: 'disabled'%>
              <%else%>
                <%=f.submit "Add food", id: "submit-button"%>
                <small class="meal-item-notification hidden">item added</small>
              <%end%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <div class="meal-btns">
    <%= link_to "go back", meals_path %>
    <% if @meal.id %>
      <button id="foods-meal-form-toggle"><%= link_to "Remove foods" %></button>
    <%end%>
  </div>
</div>

