<div class="food-list hidden" id="foods-meal-form">
    <div class="meal-header">
      <h2 id="meal-name"><%= @meal.meal_name %></h2>
      <h4>add items</h4>
      <p id="sum-of-calories">Total Cals:<%= @meal.foods.sum(:calories) %></p>
    </div>
    <div class="meal-body">
      <template id="new-foods-meal-template">
        <%= form_with model: @foods_meal, id: "new-foods-meal-form", class: "meal-item" do |f| %>
          <div class=" meal-item-name">
            <div class="meal-item-content">
              <div class="food-name">
                <p></p>
              </div>
              <div class="food-item-actions">
                <%= f.number_field :servings, value: 1, class: "servings-selector"%>
                <%=f.submit "Add food", id: "submit-button"%>
              </div>
            </div>
            <%=f.hidden_field :meal_id, value: @meal.id%>
            <%=f.hidden_field :food_id, value: Food.first%>
            <div class="food-item-macros">
              <p class="food-calories"></p>
              <p class="food-protein"></p>
              <p class="food-fats"></p>
              <p class="food-carbs"></p>
            </div>
          </div>
        <% end %>
      </template>
    </div>
  <div class="meal-btns">
    <a class="cancel-button" href="#">Go back to meal list</a>
    <button id="foods-meal-form-toggle"><%= link_to "Remove foods" %></button>
  </div>
</div>

