<div class="diary-form-modal" id="food-list-form-modal">
  <div id="add-item-card">
    <div class="add-item-card">
      <form  class="food-list-search-bar">
        <input type='text' placeholder="searchbar">
        <button>Search</button>
      </form>
      <ul>
        <li>Foods</li>
        <li class="active">Meals</li>
        <li>Search Results</li>
      </ul>
      <div class="meal-food-list">
        <% if @meal.id %>
          <div class="meal-food-header">
            <h2><%= @meal.meal_name %></h2>
            <p> Remove items</p>
            <p id="sum-of-calories">Total Cals:<%= @meal.foods.sum(:calories) %><p>
          </div>
          <% @meal.foods.each do |food|%>
            <div class="meal-item">
              <div class="meal-item-name">
                <%=food.food_name%>
                <div id="remove-food-button" data-meal-id=<%= get_foods_meal_id(food.id, @meal.id)%>>
                  <%= button_to "Remove food", foods_meal_path(FoodsMeal.find(get_foods_meal_id(food.id, @meal.id))), method: :delete%>
                </div>
              </div>
            </div>
          <% end %>
        <%else%>
          <h1>Create new meal</h1>
          <%= render 'meals/form' %>
          <%= link_to "go back", meals_path %>
        <%end%>
      </div>
      <div class="meal-btns">
        <%= link_to "go back", meals_path %>
        <% if @meal.id %>
         <%= link_to "Add items", new_foods_meal_path(meal_id: @meal.id) %>
        <%end%>
      </div>
    </div>
  </div>
</div>