<%= link_to "Go back", new_diary_path(time_of_day: @time_of_day) %>
<div class="flex-container">
  <div class= "form-group-2">
    <h2 class="meal-card-header">
      <%=@meal.meal_name%>
      <div class="meal-sum">
        <%= "#{@meal.foods.sum(:calories)} Cals" %>
      </div>
    </h2>
    <%= render "added_foods_list" %>
    <%= render "foods/food_list_mini_form" %>
  </div>
</div>
