<div class="diary-form-modal" id="food-list-form-modal">
  <div id="add-item-card">
    <div class="add-item-card">
      <form  class="food-list-search-bar">
        <input type='text' placeholder="searchbar">
        <button>Search</button>
      </form>
      <ul>
        <li>Foods</li>
        <li class="active">Meals</li>
        <li>Search Results</li>
      </ul>
      <div class="meal-food-form-list">
        <% if @meal.id %>
          <div class="meal-food-form-header">
            <h2 ><%= @meal.meal_name %></h2>
            <h4>add items</h4>
            <p id="sum-of-calories">Total Cals:<%= @meal.foods.sum(:calories) %></p>
          </div>
          <% @foods.each do |food|%>
            <div class="meal-item">
              <div class="meal-item-name">
                <%= form_with model: @foods_meal, remote: true, id: "new-foods-meal-form" do |f| %>
                  <%=food.food_name%>
                  <%=f.hidden_field :meal_id, value: @meal.id%>
                  <%=f.hidden_field :food_id, value: food.id%>
                  <%=f.submit "Add food"%>
                <% end %>
              </div>
            </div>
          <% end %>
            
        <%else%>
          <h1>Create new meal</h1>
          <%= render 'meals/form' %>
          <%= link_to "go back", meals_path %>
        <%end%>
        
      </div>
      <div class="meal-btns">
      <%= link_to "go back", meals_path %>
      <% if @meal.id %>
       <%= link_to "Edit Meal", edit_foods_meal_path(id: @meal.id) %>
      <%end%>
      </div>
    </div>
  </div>
</div>