<h1 class="title"><%=@meal.meal_name%></h1>
<div class= "meal-grid">
  <%= render "meal_foods_list" %>
  <div class="meal-sum-title">Budget:  <%= current_user.cals_budget%> calories</div>
  <div class="meal-sum">
      <%= @meal.foods.sum(:calories) %>
  </div>
  <%= render "foods/food_list_mini_form" %>
</div>